@page {
    size: auto; 
    margin: 0;
}

body {
    display: block !important;
    margin: 0 !important;
    padding: 1.5cm !important;
    box-sizing: border-box !important;
    position: relative;
}

#principal {
    width: 100% !important;
    max-width: none !important;
    margin: 0 !important;
    padding-bottom: 120px !important; 
}

#logos, 
#btnPrint {
    display: none !important;
}

h2 {
    color: rgb(255, 105, 43);
    font-size: 50px;
    margin-bottom: 0.5rem;
}

p {
    font-size: 16px;
    text-align: justify;
}

.certificado {
    padding: 0;
}

#firmas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin-top: 7rem;
}

footer {
    position: fixed !important; 
    bottom: 1.5cm !important; /* Se apoya en el límite de tu padding inferior */
    left: 1.5cm !important;   /* Respeta el falso margen izquierdo */
    right: 1.5cm !important;  /* Respeta el falso margen derecho */
    width: calc(100% - 3cm) !important; /* El ancho total menos los 1.5cm de cada lado */
    margin: 0 !important;
    text-align: center;
}

footer img {
    width: 100%;
    height: auto;
}
