#logo-ministerio {
    width: 35%;
    aspect-ratio: 604/178;
}

#logo-809 {
    width: 20%;
    aspect-ratio: 16/9;
}

p {
    font-size: 16px;
}

#familiar {
    background-color: rgb(228, 228, 228);
    padding: 20px;
}

.certificado {
    border-left: 10px solid rgb(113, 45, 168);
    padding: 20px;
    display: block;
}

#firmas {
    height: 8cm;
}

.pieDePagina {
    font-size: 10px;
}