#logo-ministerio {
    width: 35%;
    aspect-ratio: 604/178;
}

#logo-809 {
    width: 20%;
    aspect-ratio: 16/9;
}

p {
    font-size: 1rem;
}

button[class="form-text"] {
    background-color: transparent;
    border: none;
}

#familiar {
    background-color: rgb(218, 218, 218);
    padding: 20px;
}

.certificado {
    border-left: 10px solid rgb(113, 45, 168);
    padding: 20px;
    display: block;
}

#firmas {
    height: 8cm;
}

.pieDePagina {
    font-size: 10px;
}